* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    color: black;
    padding: 20px 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: -100px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin: 0 15px;
}

.main-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.search-bar {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: -20px;
}

.search-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}

.search-wrapper {
    display: flex;
    width: 80%; /* можно настроить ширину в зависимости от вашего дизайна */
}

.search-input {
    flex: 1; /* Позволяет полю ввода занимать все доступное пространство */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px; /* Скругление только с левой стороны */
    font-size: 16px;
}

.search-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0; /* Скругление только с правой стороны */
    cursor: pointer;
}

.search-button:hover {
    background-color: #004494;
}
.sort-buttons {
    display: flex;
    justify-content: center;
}

.sort-buttons input[type="radio"] {
    display: none;
}

.sort-button {
    color: #a8a8a8;
    font-size: 18px;
    margin: 20 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
}


#popular:checked + label[for="popular"],
#rating:checked + label[for="rating"] {
    color: #0056b3; /* Меняем только цвет текста при выборе */
}

.main-menu a:hover {
    color: #0056b3;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.header-right .button {
    background-color: #0056b3;
    color: white;
    margin-top: -initial;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.header-right .button:hover {
    background-color: #004494;
}

main {
    padding: 20px;
    flex: 1;
}

.container {
    max-width: 1000px;
    margin:0 auto;
    display: flex;
}

.filters {
    width:30%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid  #ffffff;  /* Добавление обводки */
    transform: translateX(-300px);
    margin-top: -30px;
}

.filter-group {
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid #007bff; /* Обводка для всей группы */
    border-radius: 10px; /* Скругленные углы */
    background-color: #ffffff; /* Легкий фон для группы */
}


/* Обводка для каждого поля ввода в группе фильтров */
.filter-group input[type="text"],
.filter-group input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Обводка для каждого поля */
    border-radius: 5px;
}

/* Стиль для чекбоксов в группе фильтров */
.filter-group label {
    display: block;
    margin-bottom: 10px;
}

/* Стиль для обводки каждого чекбокса */
.filter-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Добавление обводки для полей ввода и чекбоксов в группе "Ивенты" */
.filter-group input[type="checkbox"]:focus,
.filter-group input[type="text"]:focus,
.filter-group input[type="date"]:focus {
    outline: none;
    border-color: #0056b3; /* Цвет обводки при фокусе */
}

/* Убираем обводку при клике вне поля */
.filter-group input[type="text"]:hover,
.filter-group input[type="date"]:hover,
.filter-group input[type="checkbox"]:hover {
    border-color: #0056b3; /* Цвет обводки при наведении */
}
.filter-group h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.filter-group input[type="text"],
.filter-group input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.results {
    padding: 20px 0;
    background-color: #ffffff;
    margin-top: -30px;
    margin-left: -300px;
}

.result-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result-item {
    margin-left: -10px;
    background-color: white;
    border:2px solid #007bff;
    border-radius: 8px;
    padding: 0px;
    width: 100%;
    max-width: 900px; /* Максимальная ширина карточки */
    margin-bottom: 20px; /* Расстояние между карточками */
    display: flex; /* Используем Flexbox для горизонтального расположения */
}

.result-content {
    display:inline-flex; /* Используем flex для выравнивания картинки и текста */
    width: 100%;
}

.result-image {
    width: 40%; /* Картинка занимает 50% пространства */
    height: auto; /* Сохраняем пропорции изображения */
    object-fit: cover;
    border-radius: 6px;
    margin-right: 20px; /* Отступ между картинкой и текстом */
}

.result-text {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column; /* Текст будет вертикально */
    flex: 1; /* Текст будет занимать оставшееся пространство */
}

.result-item h2 {
    font-size: 20px;
    color: #333;
    margin: 10px;
}

.result-item p {
    font-size: 14px;
    color: #777;
    margin: 20px 0px 10px;
}
.button-container {
    display: flex;
    gap: 10px;
}

.button {
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid; /* Убираем цвет границы, чтобы он задавался в каждой кнопке */
    border-radius: 25px;
    font-size: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;

}

.button.green {
    border-color: #07fa0f; /* Цвет границы зеленый */
    color: #07fa0f;         /* Цвет текста тот же, что и у границы */
}

.button.pink {
    border-color: #e91e63;  /* Цвет границы фуксия */
    color: #e91e63;         /* Цвет текста тот же, что и у границы */
}

.button.blue {
    border-color: #2196f3;  /* Цвет границы синий */
    color: #2196f3;         /* Цвет текста тот же, что и у границы */
}

.button.purple {
    border-color: #9c27b0;  /* Цвет границы фиолетовый */
    color: #9c27b0;         /* Цвет текста тот же, что и у границы */
}
.button.red {
    border-color: #ff0000;  /* Цвет границы красный */
    color: red;          /* Цвет текста тот же, что и у границы */
}
.button.orange {
    border-color: #ffa500;  /* Цвет границы оранжевый */
    color: orange;          /* Цвет текста тот же, что и у границы */
}
.button.darkblue {
    border-color: #0602ff;  /* Цвет границы фиолетовый */
    color: #0602ff;         /* Цвет текста тот же, что и у границы */
}
.button.salat {
    border-color: #71ff89;  /* Цвет границы фиолетовый */
    color: #71ff89;         /* Цвет текста тот же, что и у границы */
}
.button.olive {
    border-color: #808000;  /* Цвет границы фиолетовый */
    color: #808000;         /* Цвет текста тот же, что и у границы */
}
.button.gray {
    border-color: #808080;  /* Цвет границы фиолетовый */
    color: #808080;         /* Цвет текста тот же, что и у границы */
}
/*.button.yellow {
    border-color: #ffee00;  
    color: #ffee00;         
}*/
.button:hover {
    transform: scale(1.05);
}

.button.green:hover {
    background-color: #07fa0f;
    color: white;
}

.button.pink:hover {
    background-color: #e91e63;
    color: white;
}

.button.blue:hover {
    background-color: #2196f3;
    color: white;
}

.button.purple:hover {
    background-color: #9c27b0;
    color: white;
}
.button.red:hover {
    background-color: red; /* Цвет фона при наведении */
    color: white;           /* Цвет текста при наведении */
}
.button.orange:hover {
    background-color: orange; /* Цвет фона при наведении */
    color: white;             /* Цвет текста при наведении */
}
.button.darkblue:hover {
    background-color: #0602ff;  
    color: white;        
}
.button.salat:hover {
    background-color: #71ff89;
    color: white;
}
.button.olive:hover {
    background-color: #808000;
    color: white;
}
.button.gray:hover {
    background-color: #808080;
    color: white;
}
/*.button.yellow:hover {
    background-color: #ffee00;
    color: white;
}



/* Контейнер для результатов и карты */
.container {
    display: flex; /* Используем Flexbox для размещения карточек и карты рядом */
    gap: 20px; /* Добавляем промежуток между результатами и картой */
    justify-content: center; /* Равномерно распределяем пространство */
}

/* Секция с результатами */
.result-list-wrapper {
    width: 70%; /* Карточки занимают 70% ширины */
}

/* Секция с картой */
.map-section {
    margin-right: -400px;
    margin-top: -10px;
    width: 30%; /* Карта занимает 30% ширины */
}

/* Карта */
.map-container {
    width: 100%; /* Карта будет занимать всю ширину родительского контейнера */
    height: 500px; /* Высота карты */
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Ставим элементы в столбик */
        font-size: 12px;
    }
    .filters {
        width: 100%;
        transform: translateX(0); /* Фильтры остаются на экране */
    }
    .result-item {
        flex-direction: column; /* Карточки становятся вертикальными */
    }
    .result-image {
        width: 100%; /* Картинка занимает всю ширину */
        height: 200px; /* Ограничение высоты картинки */
    }
    .result-text {
        margin-top: 20px;
    }
}

/* Для планшетов и небольших экранов */
@media (max-width: 1024px) {
    .container {
        flex-direction: row; /* Контейнер остается в ряд */
    }
    .main-menu{
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .header-left{
        margin-left: 130px;
    }
    .header-right{
        margin-right: 30px;
    }
    .header-right .button{
        font-size: 12px;
    }
    
    .filters {
        width: 25%; /* Фильтры занимают меньше места */
        margin-right: 20px;
        margin-left: 20px;
        font-size: 10px;
    }
    .filter-group h3{
        font-size: 16px;
    }

    .result-item{
        max-width:550px;
        margin-left: -30px;
        height: 150px;
    }
    .result-image{
        width: 30%;
        height: auto;
    }
    .result-text {
        flex: 1;
    }
    
    .result-item h2 {
      font-size: 16px;
      margin: 5px -2px;
      
    }
    .result-item p {
       font-size: 12px;
       margin: 1px;
    }
    .button{
        margin-right: 5px;
        font-size: 6px;
    }
    .map-container{
        width: 50%;
    }
    .map-section{
        margin-left: px;
    }
    
}

/* Для больших экранов */
@media (min-width: 1200px) {
    .container {
        width: 70%;
        max-width: 1000px; /* Контейнер ограничен максимальной шириной */
    }
    .filters{
        margin-left: -30px;
    }
    .result-item{
        margin-left: -20px;
        max-width: 700px;
    }
    .result-image{
        max-width: 30%;
        height: auto;
    }
    .result-text {
        flex: 1;
    }
    
    .result-item h2 {
      font-size: 16px;
      margin: 5px -2px;
      
    }
    .result-item p {
       font-size: 12px;
       margin: 1px;
    }
    .map-container{
        width: 90%;
    }
    .header-right{
        margin-right: -50px;
    }

    
}